<h3> Congratulations!!!! </h3>
<p> Hello <%= @subject.name %> You have been invited to Study GM Integration </p>
<p> You can further enroll yourself to the study by using the link below </p>
<p> URL: <%= @url %> </p>